<div class="container">
  <div class="media">
    <% @user = session[:user] %>
    <div class="container">
      <div>
        <h2 class="media-heading col-md-6" style="margin: 0px">
          <%= @proposal_detail.title %>
        </h2>
        <% if @user && @user.role.is_admin? %>
            <% if @has_enough_evaluations %>
                <div class="col-md-2" style="float: right; margin-right: 20px">
                  <button id="proposal-send-email-<%= @proposal_detail.id %>" type="button" class="btn btn-danger" onclick="onSendRevisionsMail(<%=@proposal_detail.id%>)">
                    <%= t('proposal.email.notify_result') %>
                  </button>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
    <br>

    <div class="container">
      <div class="col-md-9" style="margin: left">
        <p><%= @proposal_detail.description %></p>
      </div>

      <% if @user %>
          <% if @proposal_detail.positively_voted_by? @user %>
            <% @positive_button_size = "btn-lg" %>
            <% @negative_button_size = "btn-xs" %>
          <% elsif @proposal_detail.negatively_voted_by? @user %>
            <% @negative_button_size = "btn-lg" %>
            <% @positive_button_size = "btn-xs" %>
          <% end %>
          <div class="col-md-1" style="margin: right">
            <a id="Positive_rating_button" class="btn <%= @positive_button_size%>  <%= @positive_vote_disabled %>" role="button" href="<%= url(:proposal, :rating, :proposal_id => @proposal_detail.id, :value => 1) %>">
              <span id="visits" class="glyphicon glyphicon-thumbs-up"></span>
            </a>
            <% if  @proposal_detail.voted_by?(@user)%>
                <span class="voting_stats"><%= @positive_votes %></span>
            <% end %>
          </div>
          <div class="col-md-1" style="margin: right">
            <a id='Negative_rating_button' class="btn <%= @negative_button_size%> <%= @negative_vote_disabled %>" role="button" href="<%= url(:proposal, :rating, :proposal_id => @proposal_detail.id, :value => -1) %>">
            <span id="visits" class="glyphicon glyphicon-thumbs-down"></span>
            </a>
            <% if @proposal_detail.voted_by?(@user)%>
                <span class="voting_stats"><%= @negative_votes %></span>
            <% end %>
          </div>
      <% end %>

      <div class="col-md-1" style="margin: right">
        <span id="visits" class="glyphicon glyphicon-eye-open">
          <%= @proposal_detail.visits.to_s %> </span>
      </div>
      <div class="col-md-12" style="margin: left">
        <small>
          <%= t('proposal.detail.send_by', author: @proposal_detail.author) %>
        </small>
        <small>
          <%= t('proposal.detail.tags', tags: @proposal_detail.tag_list * " ") %>
        </small>
      </div>
    </div>
    <hr>

    <% if @user && @user.role.is_revisor? %>
        <div>
          <a class="btn btn-large btn-primary" href="<%= url(:proposal, :evaluation, :proposal_id => @proposal_detail.id) %>">
            <%= t('proposal.evaluation.eval_button')%>
          </a>
          <a class="btn btn-large btn-primary" href="<%= url(:proposal, :view_evaluations, :proposal_id => @proposal_detail.id) %>">
            <%= t('proposal.evaluation.view_button')%>
          </a>
        </div>
        <hr>
    <% end %>
  </div>

  <div class="well">
    <h4><%= t('proposal.detail.comment_box_title') %></h4>
    <% form_for(@comment, '/proposal/comment', html: {class: 'form'}) do |f| %>
        <fieldset>
          <div class="form-group">
            <% if session[:user] %>
                <div class="controls">
                  <%= f.label t('proposal.detail.form.name_tag'),
                              class: 'control-label'
                  %>
                  <div class="controls">
                    <%= f.text_field :author, class: 'form-control',
                                     value: session[:user].name,
                                     readonly: 'readonly'
                    %>
                  </div>
                </div>
            <% else %>
                <%= f.label t('proposal.detail.form.name_tag'),
                            class: 'control-label'
                %>
                <div class="controls">
                  <%= f.text_field :author, class: 'form-control',
                                   placeholder: t('proposal.detail.form.name_placeholder')
                  %>
                </div>
            <% end # session[:user] %>
          </div>
          <div class="form-group">
            <%= f.label t('proposal.detail.form.comment_tag'),
                        class: 'control-label'
            %>
            <div class="controls">
              <%= f.text_area :body, class: 'form-control',
                              placeholder: t('proposal.detail.form.comment_placeholder'),
                              rows: '3'
              %>
            </div>
          </div>

          <%= f.hidden_field :proposal_id, value: @proposal_detail.id %>

          <div class="form-actions">
            <%= f.submit t('proposal.detail.form.send_button'),
                         class: 'btn btn-primary'
            %>
          </div>
        </fieldset>
    <% end %>
  </div>

  <% for comment in @comments %>
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <%= comment.author %>
                <small><%= comment.date.strftime('%c') %></small>
              </h4>
              <%= comment.body %>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <% if @user && @user.role.is_admin? %>
              <form method="POST" action="/proposal/delete" >
                <%= csrf_token_field %>
                <input type="hidden" id="proposal_id" name="delete[proposal_id]" value= <%= @proposal_detail.id%> />
                <input type="hidden" id="comment_id" name="delete[comment_id]" value=<%= comment.id%> />
                <input type="hidden" id="user_role" name="delete[user_uis]" value=<%= session[:user]%> />
                <button id='delete-<%=comment.id%>' type="submit" class=" btn-lg btn-link  pull-right">
                  <i class="fa fa-trash"></i>
                </button>
              </form>
          <% end %>
        </div>
      </div>
      </br>
  <% end %>
</div>
<script type="text/javascript">
  window.I18n = <%= current_translations['proposal'].to_json.html_safe %> ;
</script>