<div class="container">
  <h1><%= t('proposal.list.title')%></h1>

  <% if @proposals.empty? then %>
    <tr><%= t('proposal.list.empty')%></tr>
  <% else %>
    <table class="table table-bordered">

      <tr>
        <th><%= t('proposal.list.table.title')%></th>
        <th><%= t('proposal.list.table.author')%></th>
        <th><%= t('proposal.list.table.type')%></th>
        <th><%= t('proposal.list.table.audience')%></th>
        <th><%= t('proposal.list.table.tags')%></th>
        <th><%= t('proposal.list.table.visits')%></th>
        <th><%= t('proposal.list.table.positive_votes')%></th>
      </tr>

      <% @proposals.each do |proposal| %>
        <tr>
          <td><%= link_to proposal.title, url_for(:proposal, :detail, :proposal_id => proposal.id) %></td>
          <td><%= proposal.author %></td>
          <td><%= proposal.type %></td>
          <td><%= proposal.audience %></td>
          <td><%= proposal.tag_list * " "%></td>
          <td><%= proposal.visits%></td>
          <% if @user  %>
            <% if proposal.voted_by? @user %>
              <% @percentage = proposal.user_votes_avg.to_s + '%' %>
            <% else %>
              <% @percentage = 'votar para ver' %>
            <% end %>
          <% else %>
            <% @percentage = proposal.user_votes_avg.to_s + '%' %>
          <% end %>
          <td class="votes_percentage"><%= @percentage %></td>
        </tr>
      <% end %>

    </table>
  <% end %>

</div>
